@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

.button {
  width: 225px;
  height: 100px;
  background-image: linear-gradient(rgba(244, 244, 251, 1), rgba(222, 222, 222, 1));
  border: 1px solid rgba(120, 120, 119, 1);
  border-radius: 1px;
  margin: 200px auto;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  float: left;
  margin-left: 100px;


  &:active {
      background-image: linear-gradient(rgba(222, 222, 222, 1), rgba(244, 244, 251, 1));
  }
}

.collection-info-container {
  float: right;
  min-height: 400px;
  min-width: 300px;
  border: 1px solid rgba(120, 120, 119, 1);
  margin-right: 100px;
  margin-top: 100px;
}

.collection-title {
  padding: 20px;
  margin: 0;
}

.initial-info {
  float: left;
  min-height: 400px;
  min-width: 300px;
  border: 1px solid rgba(120, 120, 119, 1);
  margin-left: 100px;
  margin-top: 100px;
}
